.ball-content li.active{background: pink}

// .choose-game{display:flex;flex-direction:column;width:100%;position:fixed;bottom:67px;background:orange;z-index:1200;transition:1s}

// .segment-ios .segment-button.segment-activated {
//     color: #fff;
    
//   } 

.segment-ios ion-segment-button:nth-of-type(1).segment-activated {background-color: #FF7C48;} 
.segment-ios ion-segment-button:nth-of-type(2).segment-activated {background-color: #4BFF48;} 
.segment-ios ion-segment-button:nth-of-type(3).segment-activated {background-color: #5048FF;} 

.banbo li{width:30px;height:30px;border-radius:50%;border:1px solid yellow;text-align:center;line-height:30px;margin-right:10px}

.red li{border:1px solid #FF7C48}
.blue li{border:1px solid #5048FF}
.green li{border:1px solid #4BFF48}

.red li.choose{background:#FF7C48 }
.blue li.choose{background:#5048FF }
.green li.choose{background:#4BFF48 }

.single-xiao{margin-right:10px;width:20px;height:20px;border-radius:50%;text-align: center}
ul.shengxiao{margin-bottom: 5px}
ul .single-xiao:nth-of-type(7){width:10px;}


li.shengxiao-name{margin-right:10px;width:20px;text-align: center}

ul .shengxiao-name:nth-of-type(7){width:10px;}
.shengxiao li.red{border: 1px solid #FF7C48}
.shengxiao li.purple{border: 1px solid #5048FF}
.shengxiao li.green{border: 1px solid #4BFF48}
ul .single-xiao:nth-of-type(7){width:10px;}

ul .single-xiao:nth-of-type(8).red{background:#FF7C48 }
ul .single-xiao:nth-of-type(8).purple{background:#5048FF }
ul .single-xiao:nth-of-type(8).green{background:#4BFF48 }

.ball-content li.red{border: 1px solid #FF7C48}
.ball-content li.purple{border: 1px solid #5048FF}
.ball-content li.green{border: 1px solid #4BFF48}

.ball-content li.active.red{background:#FF7C48}
.ball-content li.active.purple{background:#5048FF}
.ball-content li.active.green{background:#4BFF48}

div.clear{background:url('/assets/imgs/games/clear.png') center center no-repeat;width:70px;border-right:1px solid #f0f0f0;background-color:#ffffff}
.big-kind li.active{background:#5048FF }


