<ion-header>
    <ion-navbar>
      <ion-title>
        <span>Lhc</span>
        <div class="header-r" (click)="toggle()" style="float:right;margin-right:30px;position:relative;z-index:1200;border:1px solid green;padding:5px">{{choosen}}</div>
      </ion-title>

      
    </ion-navbar>
</ion-header>
  
  <ion-content padding>
  <!--<button (click)="toggle()">toggle</button>-->
  <div style="display:flex;">
       <div style="width:70%">
            <div>第{{record.number}}期开奖</div>
            <div>
                <ul>
                    <li *ngFor="let number of record.result" style="margin-right:20px;width:20px">{{number}}</li>
                </ul>
                <ul>
                    <li *ngFor="let number of record.axiba" style="margin-right:20px;width:20px">{{number}}</li>
                </ul>
            </div>
       </div>

       <div style="width:30%">
               <div>第22112333期截止</div>
               <div><span>{{countTime.hours}}</span>:<span>{{countTime.minutes}}</span>:<span>{{countTime.seconds}}</span></div>
       </div>
    </div>


    <div [ngSwitch]="game-sort" style="margin-top:30px">
            <div *ngSwitchCase="qqq">qqqq</div>
            <div *ngSwitchCase="www">eeee</div>
            <div *ngSwitchCase="eee">wwww</div>
            <div *ngSwitchDefault>
                 <div>

                     <ul *ngFor="let item of total" style="display:flex;justify-content:space-around;width:100%">
                         <li *ngFor="let ii of item" [class.active]="check(ii)" (click)="toggleChoose(ii)" style="width:30px;height:30px;text-align:center;line-height:30px;border-radius:50%;border:1px solid pink;margin-bottom:15px">
                             {{ii}}
                        </li>
                     </ul>
                 </div>
                 <div>
                     <ul style="display:flex;justify-content:space-around;width:100%;">
                         <li *ngFor="let item of kinds" [class.active]="checkSort(item)" style="width:30px;border:1px solid lightblue;height:20px" (click)="switch(item)">{{item}}</li>
                     </ul>
                 </div>

                 <div><button (click)="bet()">下注</button></div>
            </div>
   </div>
  
  </ion-content>
<!--透明背景-->
<div class="body-bg"></div>

  <div class="choose-game alert-con" [@fading]="visible" style=""> 
        <div>
            玩法选择
            <ul>
                <li *ngFor="let item of data.list" style="width:25%;height:30px;display:inline-block;border:1px solid lightblue" [class.active]="method == item.name" (click)="changeMethod(item.name)">{{item.name}}</li>
            </ul>
        </div>
        <div>
            <span>{{method}}: </span><div style="display:inline-block;width:20%;" *ngFor="let name of small" (click)="confirm(name)">{{name}}</div>
        </div>
        <div style="margin-top:10px;text-align:center"><button (click)="toggle()">确定</button></div>
    </div>