<!--
  Generated template for the GameTrendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title (click)="common.toggle()">{{common.method}} {{common.smallMethod}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <gamemenu></gamemenu>  
<!-- <div class="segment">
     <ion-segment [(ngModel)]="util.choose" (ionChange)="segmentChanged($event)">
       <ion-segment-button *ngFor="let name of util.menus;let ii = index" value="{{name}}">{{name}}</ion-segment-button>  
     </ion-segment>
</div> -->

<ng-template #gameTrendContainer></ng-template>

<!--<ng-template #headContainer></ng-template>


<ion-slides #contentSlides (ionSlideDidChange)="slideChanged()">

  <ion-slide>
        <ng-template #alertContainer></ng-template>
       
  </ion-slide>  

  <ion-slide *ngFor="let ii of util.trendKind[common.method] " style="min-height:100%">
      <div class="trend-container">
          <ul style="display:flex">
              <li class="head-num" style="width:17%">期号</li>
              <li class="head-num" style="width:8.5%">0</li>
              <li class="head-num" style="width:8.5%">1</li>
              <li class="head-num" style="width:8.5%">2</li>
              <li class="head-num" style="width:8.5%">3</li>
              <li class="head-num" style="width:8.5%">4</li>
              <li class="head-num" style="width:8.5%">5</li>
              <li class="head-num" style="width:8.5%">6</li>
              <li class="head-num" style="width:8.5%">7</li>
              <li class="head-num" style="width:8.5%">8</li>
              <li class="head-num" style="width:8.5%">9</li>
          </ul>
          <ul *ngFor="let item of util.fakeData[ii]" class="ball-line">
              <li *ngFor="let ele of item.slice(0,1)" style="line-height:30px;font-size:15px">
                  {{ele.number}}
               </li>
              <li *ngFor="let ele of item.slice(1)" style="display:flex;align-items:center;justify-content:center;border-left:1px solid #f0f0f0">
                 <span [class.highlight]="ele.choose" style="width:20px;height:20px;border-radius:50%;text-align:center;line-height:20px"> {{ele.number}}</span>
              </li>
          </ul>
            </div>
       <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载更多。。。。">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>

            <div style="bottom:0">{{ii}}</div>

  </ion-slide> 

 
</ion-slides>-->
  <div style="position:fixed;bottom:0;z-index:100;background:pink;display:flex;justify-content:space-between;width:100%">
       <div>距下期开奖还剩12s</div>
        <div (click)="goBasket()">go</div>

       <div style="width:80px;height:30px" id="confirm" [class.active]="common.count > 0" (click)="goSsc()">确定</div>
  </div>
</ion-content>
