// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ul,li{padding: 0;margin: 0}
li{list-style: none;display: inline-block}

textarea,select,input{-webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none;background-color:transparent; border-color:transparent;}
.toolbar-title-md{text-align: center}
.scroll-content{padding: 0 0}

.body-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1100;
  display: none;
}
  .segment-md .segment-button{background: pink}
  .segment-md .segment-button.segment-activated{  border-bottom: 5px solid #488aff;
}

  ion-segment-button.segment-activated{  border-bottom: 5px solid #488aff;
}

ion-slides{padding: 20px 0 20px 0;height: auto}

@media only screen and (min-width: 150px){
    .modal-wrapper {
      left: calc(50% - (400px/2));
      top: calc(50% - (400px/2));
      position: absolute;
      width: 400px;
      height: 400px;
    }

    ion-modal ion-backdrop {
        visibility: visible
    }

      .md .modal-wrapper {
        border-radius: 2px;
        overflow: hidden;
        background-color: #ffffff;
        -webkit-box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
        box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
      }  
  }


// toast 样式修改 
.toast-wrapper{background: pink;width:200px} 
.toast-ios .toast-wrapper{background: pink; color:#f0f0f0}
.toast-md .toast-wrapper{width:200px;background: pink;color:#f0f0f0}
.toast-md .toast-message{color:#f0f0f0}
.toast-ios .toast-message{color:black}

// segment
.segment-ios .segment-button.segment-activated {
  color: #fff;
  background-color: #488aff;
} 

// .alert-con {
//     width: 100%;
//     position: absolute;
//     bottom: -200%;
//     left: 0;
//     right: 0;
//     top: auto;
//     z-index: 1111;
//     -webkit-transition: all 0.4s;
//     -moz-transition: all 0.4s;
//     -ms-transition: all 0.4s;
//     -o-transition: all 0.4s;
//     transition: all 0.4s;
   
//   }

//   .alert-show {
//     bottom: 0;
//     top: auto;
//     left: 0;
//     right: 0;
//   }