<ion-header>
  <ion-navbar>
    <ion-title>
            <div class="header-r" #methodName (click)="common.toggle()" style="float:right;margin-right:30px;position:relative;z-index:1200;border:1px solid green;padding:5px">{{common.method}} {{common.smallMethod}}</div>

    </ion-title>
    <div (click)="$event.stopPropagation();common.open = !common.open" style="float:right;margin-right:25px;background:url('/assets/imgs/games/toggle.png') center center no-repeat;width:21px;height:21px"></div>
    
  </ion-navbar>
</ion-header>

<rightmenu [menus]="menus" (switch)="change($event)" [open]="common.open"></rightmenu>
<gamemenu> </gamemenu>    
<div class="body-bg"></div>

<ion-content>
  <!-- <div [ngSwitch]="content">
       <div *ngSwitchCase="history">
         
       </div>
       <div *ngSwitchDefault>
           
       </div> 
  </div> -->
  <div style="text-align:center;border-bottom:1px solid #f0f0f0">
        距下一期开奖 <span>{{common.countTime.minutes}}</span>:<span>{{common.countTime.seconds}}</span>
    </div>
  
  <div [class.shadow]="shadow" id="touch" [ngStyle]="{'height':(90 + high) + 'px'}" style="box-shadow:0 1px 2px 0 #B6B6B6;overflow:hidden;margin-bottom:10px;transition:all .5s ease-in">
      <div class="history-number">
            <div style="width:22%;">期次</div><div style="width:30%">开奖号码</div>
            <div style="width:16%">十位</div><div style="width:16%">个位</div><div style="width:16%">后三</div>
      </div>
            
      
      <ul class="history-record" *ngFor="let item of list" (click)="goToTrend()">
         <li style="width:22%;">{{item.number}}</li> <li style="width:30%">{{item.balls}}</li>
         <li style="width:16%">{{item.shiwei}}</li> <li style="width:16%">{{item.gewei}}</li><li style="width:16%">{{item.housan}}</li>
      </ul>
   
      <!-- <button id="qq" [style.display]="over ? 'none' : 'block' "style="width:20%;height:50px;margin:0 auto;text-align:center;border:1px solid blue;">more</button> -->
   </div>
   <div *ngIf="over" style="margin:0 auto;text-align:center"><img src="/assets/imgs/games/notice.png" alt=""> 点击以上开奖号码可以查看更多</div>
   <div id="qq" *ngIf="!over" style="margin:0 auto;width:50px;height:30px;border-radius:5px;text-align:center;border:1px solid #666">load more</div>
   
   <div class="shakePhone"></div>
   <div class="inner-content" scrolldown  author="author" style="width:100%;background:#f0f0f0;">
     <div id="off" class="none" >收起</div>  
    
    <div *ngFor="let data of common.ballData;let ii = index" style="display:flex;padding:10px">
        <div style="width:20%">
              {{data.key}}
        </div>
        <div style="width:80%">
              <ul class="balls-data">
                  <li *ngFor="let item of data.value.slice(0,5);let i = index" [class.active]="item == 1" (touchstart)="changeToggle(ii,i)">{{i}}</li>
              </ul>

              <ul class="balls-data">
                  <li *ngFor="let item of data.value.slice(-5);let i = index" [class.active]="item == 1" (touchstart)="changeToggle(ii,i+5)">{{qqq(i)}}</li>
              </ul>
              <ul class="choose-kind">
                  <li *ngFor="let detail of common.btn[ii];let j = index" [class.active]="detail.flag" style="margin-right:30px" (touchstart)="util.changeActive(ii,j,detail.name)">{{detail.name}}</li>
              </ul>
        </div>
      </div>
    </div>
<!-- <div class="touch" style="padding:20px;background:pink;" (touchstart)="touchStartEvent($event)" (touchmove)="touchMoveEvent($event)">touch</div> -->

</ion-content>

<ion-footer class="ion-footer" style="position:fixed;height:50px;bottom:0;display:flex;" >
<tab-yuan ></tab-yuan>  
<div class="clear" ></div>
<div class="tab-mode" (click)="common.openTab()" style="z-index:10">
     <div>元</div><div>模式</div>
</div>
<div id="bet-statistic" [class.can] = "common.count > 0" (click)="addToCart(methodName)">
   <div style="width:30px;padding-left:20px;line-height:50px;font-size:18px">+</div>
   <div style="padding-left:10px">
        <div style="height:25px;line-height:25px">已选{{common.count}}注</div>
        <div style="height:25px;line-height:25px">共{{common.betPrice}}元</div>
   </div>
</div>
<div class="basket" (click)="goToBasket()">
   <div class="bet-number" *ngIf="common.cartNumber"> {{common.cartNumber}}</div>
  
</div>
</ion-footer>
