<ion-header>
  <ion-navbar>
    <ion-title>
            <div class="header-r" #methodName (click)="common.toggle()" style="float:right;margin-right:30px;position:relative;z-index:1200;border:1px solid green;padding:5px">{{common.method}} {{common.smallMethod}}</div>

    </ion-title>
    <div (click)="$event.stopPropagation();common.open = !common.open" style="float:right;margin-right:25px;background:url('/assets/imgs/games/toggle.png') center center no-repeat;width:21px;height:21px"></div>
    
  </ion-navbar>
</ion-header>

<rightmenu [menus]="menus" (switch)="common.change($event)" [open]="common.open"></rightmenu>
<gamemenu> </gamemenu>    
<div class="body-bg"></div>

<ion-content padding>
  <!-- <div [ngSwitch]="content">
       <div *ngSwitchCase="history">
         
       </div>
       <div *ngSwitchDefault>
           
       </div> 
  </div> -->
  
  <div class="qwe" [class.shadow]="shadow">
      <div style="width:22%;">期次</div><div style="width:30%">开奖号码</div>
      <div style="width:13%">十位</div><div style="width:13%">个位</div><div style="width:13%">后三</div>
      
      <ul *ngFor="let item of record">
         <li>{{item.number}}</li><li>{{item.balls}}</li><li>{{item.shiwei}}</li><li>{{item.gewei}}</li><li>{{item.housan}}</li>
      </ul>
 
      <!-- <button id="qq" [style.display]="over ? 'none' : 'block' "style="width:20%;height:50px;margin:0 auto;text-align:center;border:1px solid blue;">more</button> -->
   </div>
   
   <div class="inner-content" scrolldown [change]="'jjjjjj'" author="author" style="position:absolute;top:18px;left:16px;width:calc(100% - 32px);background:#f0f0f0;">
     <div id="off" class="none" >收起</div>  
    <div style="text-align:center">
        距下一期开奖 <span>{{common.countTime.minutes}}</span>:<span>{{common.countTime.seconds}}</span>
    </div>

    
    <div (click)="goToTrend()">摇一摇选号</div>
    <div *ngFor="let data of common.ballData;let ii = index" style="display:flex;margin-top:20px">
        <div style="width:20%">
              {{data.key}}
        </div>
        <div style="width:80%">
              <ul class="balls-data">
                  <li *ngFor="let item of data.value.slice(0,5);let i = index" [class.active]="item == 1" (touchstart)="util.changeToggle(ii,i)">{{i}}</li>
              </ul>

              <ul class="balls-data">
                  <li *ngFor="let item of data.value.slice(-5);let i = index" [class.active]="item == 1" (touchstart)="util.changeToggle(ii,i+5)">{{qqq(i)}}</li>
              </ul>
              <ul class="choose-kind">
                  <li *ngFor="let detail of common.btn[ii];let j = index" [class.active]="detail.flag" style="margin-right:30px" (touchstart)="util.changeActive(ii,j,detail.name)">{{detail.name}}</li>
              </ul>
        </div>
      </div>
    </div>
<!-- <div class="touch" style="padding:20px;background:pink;" (touchstart)="touchStartEvent($event)" (touchmove)="touchMoveEvent($event)">touch</div> -->

</ion-content>

<ion-footer class="ion-footer" style="position:fixed;height:50px;bottom:0;display:flex;" >
<tab-yuan ></tab-yuan>  
<div class="clear" ></div>
<div class="tab-mode" (click)="common.openTab()">
     <div>元</div><div>模式</div>
</div>
<div id="bet-statistic" [class.can] = "common.count > 0" (click)="addToCart(methodName)">
   <div style="width:30px;padding-left:20px;line-height:50px;font-size:18px">+</div>
   <div style="padding-left:10px">
        <div style="height:25px;line-height:25px">已选{{common.count}}注</div>
        <div style="height:25px;line-height:25px">共{{common.betPrice}}元</div>
   </div>
</div>
<div class="basket" (click)="goToBasket()">
   <div class="bet-number" *ngIf="common.cartNumber"> {{common.cartNumber}}</div>
  
</div>
</ion-footer>
