.qwe div{display: inline-block}
.balls-data{display:flex;justify-content:space-between;margin-bottom: 20px}
.balls-data li{width:30px;height:30px;border:1px solid pink;border-radius:50%;text-align:center;line-height:30px}